{% extends "planetas/planetas.html.twig" %}

{% block body %}
                <div class="row">
                    <div class="col text-center"><h2>{{planeta.name}}</h2></div>
                </div>
                <div class="row ">
                    <div class="col text-center">
                        <img src="{{planeta.image}}" style="height: 400px; object-fit: cover;">
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center"><h3>Personajes vinculados</h2></div>
                </div>
                <div class="row">
                {% for personaje in planeta.personaje %}
                <div class="card col mb-3 text-center " style="width: 18rem;">
                    <img class="card-img-top" src="{{personaje.image}}" alt="{{personaje.name}}" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <p class="card-text">{{personaje.name}}</p>
                    </div>
                </div>
                {% endfor %}
                </div>
{% endblock %}